body {
    margin: 0px;
    padding: 0px;
    font-family: Raleway;
}

.nav_panel, .main-banner, .features, .footer_content, .copyright_content {
    margin: 0 auto; 
}
.nav_panel {
    height: 60px;
    margin-top: 40px;
    border-bottom: 1px solid #505268;
}
.logo {
    text-indent: -9999px;
}

.header {
    background: url(../images/header-bg.jpg);
    border: 1px solid black;
    height: 750px;
}
.header h1, .header p, .header a {
    color: rgba(255,255,255,1);
}

.nav_panel, .main-banner, .features, .footer_content, .copyright_content {
    width: 1170px;
}
.header h1 {
    font-size: 65px;
    line-height: 71px;
    text-transform: uppercase;
    margin-bottom: 45px;
}
.menu {
    float: right;
}
.menu ul {
    margin: 7px 0 0 0;
    padding: 0;
}
.menu ul li {
    float: left;
    list-style-type: none;
    margin-left: 60px;
    font-size: 13px;
}

.menu ul li a, .menu ul li a:active {
    font-weight: bold;
    text-decoration: none;
    color: rgba(255,255,255,0.75);
}
.menu ul li a:hover {
    text-decoration: underline;
    color: rgba(255,255,255,1);
}
.main-banner {
    text-align: center;
    margin-top: 160px;
}
.main-banner p {
    font-size: 22px;
    line-height: 33px;
    width: 80%;
    margin: 0 auto;
}
.button_more {
    display: inline-block;
    padding: 20px 55px;
    background: #e84545;
    margin-top: 80px;
    text-decoration: none;
    font-size: 13px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
}

.features {
    margin-top: 50px;
    margin-bottom: 100px;
    overflow: auto;
}
.features ul li {
    width: 370px;
    float: left;
    list-style-type: none;
    text-align: center;
    padding-top: 60px;
    margin-top: 75px;
}
.features ul li h2 {
    font-size: 14px;
    font-weight: bold;
    margin: 40px 0 20px 0;
}
.features ul li p {
    color:#6c7279;
    font-size: 14px;
    width: 81%;
    margin: 0 auto;
    line-height: 21px;
}
.features_item_1 {
    background: url(../images/features/features-1.png) no-repeat 50% 0;
}
.features_item_2 {
    background: url(../images/features/features-2.png) no-repeat 50% 0;
}
.features_item_3 {
    background: url(../images/features/features-3.png) no-repeat 50% 0;
}
.features_item_4 {
    background: url(../images/features/features-4.png) no-repeat 50% 0;
}
.features_item_5 {
    background: url(../images/features/features-5.png) no-repeat 50% 0;
}
.features_item_6 {
    background: url(../images/features/features-6.png) no-repeat 50% 0;
}
.works {
    clear: both;
}
.works ul {
    margin: 0;
    padding: 0;
}
.works ul li {
    float: left;
    list-style-type: none;
    width: 25%;
    height: 350px;
    padding: 0;
    display: inline-block;
}
.works ul li a {
    height: 210px;
    padding-top: 140px;
    text-align: center;
    color: #ffffff;
    background: rgba(212, 64, 64, 0.95);
    display: none;
    text-decoration: none;
}
.works ul li:hover a {
    display: block;
}
.works ul li a h2, .works ul li a p {
    font-size: 14px;
}
.works ul li div h2 {
    padding: 0;
    margin: 0;
    font-weight: bold;
}
.works_item_1 {
    background: url(../images/works/work-1.jpg);
}
.works_item_2 {
    background: url(../images/works/work-2.jpg);
}
.works_item_3 {
    background: url(../images/works/work-3.jpg);
}
.works_item_4 {
    background: url(../images/works/work-4.jpg);
}
.works_item_5 {
    background: url(../images/works/work-5.jpg);
}
.works_item_6 {
    background: url(../images/works/work-6.jpg);
}
.works_item_7 {
    background: url(../images/works/work-7.jpg);
}
.works_item_8 {
    background: url(../images/works/work-8.jpg);
}
.footer {
    background: #3a3e64;
    width: 100%;
    overflow: auto;
    padding-top: 55px;
    padding-bottom: 55px;
    border-top: 1px solid #ffffff;
}
.footer_location, .footer_social, .footer_about {
    float:left;
    width: 33%;
}
.footer_social ul {
    margin: 0 0 0 125px;
    padding: 0;  
}
.footer_social ul li {
    float: left;
    list-style-type: none;
    margin-right: 7px;
}
.footer h2, .footer p {
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    line-height: 22px;
}
.footer p {
    color: rgba(255, 255, 255, 0.5);
}
.copyright {
    background: #313454;
    clear: both;
    overflow: auto;
    text-align: center;
    padding: 10px 0;
}
.copyright p {
    color: #808080;
    line-height: 22px;
    font-size: 14px;
}
.copyright_content a {
    color: #ffffff;
    text-decoration: none;
}
.heart_icon {
    background: url(../images/heart-icon.png);
    width: 11px;
    height: 10px;
    display: inline-block;
}
.copyright_content a:hover {
    text-decoration: underline;
}